.login {
    height: 100vh;
    width: 100%;
     background-color: #D81F26;
     background: linear-gradient(135deg, #D81F26, #8C101A);
     color: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.inside {
    background-color: black; 
    color: white; 
    padding: 5px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    max-width: 400px; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

input {
    width: 40%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: none; 
    border-radius: 4px; 
    background-color: #333; 
    color: white; 
}
.navbar {
  position: relative;
}
body{
  background-color: #fff;
}
.navbar-brand img {
  height: 20px; 
}
  .search-container {
    flex-grow: 2; 
    display: flex; 
    justify-content: center; 
  }
  
  .search-input {
    padding: 5px; 
    border: none; 
    border-radius: 4px;
    width: 150px; 
    color: #333; 
  }
  
  .search-input::placeholder {
    color: #999; 
  }
 .main{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
 }
.main img{
  height: 300px;
  width: 200px;
}
.PawanKalyanMoviesList{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color:black;
  color: white;
  
}
.PawanKalyanMoviesList img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.MaheshBabuMoviesList{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: black;
    color: white;
}
.MaheshBabuMoviesList img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.PrabhasMoviesList{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: black;
  color: white;
}
.PrabhasMoviesList img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.ntrmovies{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: black;
  color: white;
}
.ntrmovies img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.container-fluid{
  background-color: black;
  height: 100%;
  width: 100%;
}
.navbar{
  background-color: white;
}
.Teluguheros{
  background-color: black;
  color: white;
  height: 100%;
}
.Newnani{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: black;
  color: white;
  height: 100vh;
}
.Newnani img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.Shah{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: black;
  color: white;
  height: 100%;
}
.Shah img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.hindi{
  background-color: black;
  color: white;
  height: 100vh
}
.Hindi img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.Hindi {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 250px;
}
.amit{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: black;
  color: white;
  height: 100vh; 
}
.amit img{
  height: 300px;
  width: 200px;
  border: 2px solid black;
}
.saan{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
.Carousel img{
  height: 500px;
  width: 100%;
}